<html lang="en-US">
  <head>
    <title><%= title %></title>
    <meta name="description" content="Tips and workflows to use Xcode more effectively." />
    <meta name="author" content="Giovanni Gio Lodi">
    <meta charset="utf-8" />

    <!-- It would be nice to have this as the GIF, for now the image will do though -->
    <!-- Maybe this can help https://stackoverflow.com/questions/31216481/how-does-giphy-share-gifs-to-facebook-2015-not-flash-anymore -->
    <meta property="og:title" content="Xcode Tips" />
    <% if tip['description'] %>
      <meta property="og:description" content="<%= tip['description'] %>" />
    <% else %>
      <meta property="og:description" content="Tips and workflows to use Xcode more effectively." />
    <% end %>
    <meta property="og:image" content="https://s3.amazonaws.com/xcodetips.com/assets/<%= tip['file_name'] %>.jpg"/>
    <meta property="og:site_name" content="Xcode Tips" />
    <meta property="og:url" content="http://xcodetips.com/tips/<%= tip['file_name'] %>.html" />
    <meta property="og:type" content="article" />

    <!-- It would be good to use the player card, but this is enough to get started -->
    <!-- See https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/player-card -->
    <!-- Note that Twitter cards can read most of the Open Graph meta, so we don't need to add all the info -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@_xcodetips" />
    <meta name="twitter:creator" content="@mokagio" />

    <!-- Fav Icon -->
    <!-- Thanks to https://www.favicon-generator.org/ -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <style>
body {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

video {
  margin: 0 auto;
  width: 100%;
}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row mb-5 mt-3 text-center">
        <div class="col">
          <h1><a href="http://xcodetips.com">Xcode Tips</a></h1>
        </div>
      </div>

      <div class="row align-items-center mb-2">
        <div class="col col-auto">
          <h3>
              <a href="http://xcodetips.com/tips/<%= tip['file_name'] %>.html">
                <%= tip['title'] %><% if tip['shortcut'] %>: <%= tip['shortcut'] %><% end %>
              </a>
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <video autoplay loop poster="https://s3.amazonaws.com/xcodetips.com/assets/<%= tip['file_name'] %>.jpg">
            <!-- Do I acutally need the .webm? -->
            <!-- <source src="path/to/video.webm" type="video/webm; codecs=vp9,vorbis" /> -->
            <source src="https://s3.amazonaws.com/xcodetips.com/assets/<%= tip['file_name'] %>.mp4" type="video/mp4" />
            <source src="https://s3.amazonaws.com/xcodetips.com/assets/<%= tip['file_name'] %>.gif" type="gif" />
          </video>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <% if tip['description'] %>
            <p><em><%= tip['description'] %></em></p>
          <% end %>
          <% if tip['project']['name'] && tip['project']['url'] %>
            <p>Source code: <a href="<%= tip['project']['url'] %>" target="_blank"><%= tip['project']['name'] %></a></p>
          <% end %>
          <% if tip['publish_date'] %>
            <p>Published date: <%= tip['publish_date'] %></p>
          <% end %>
        </div>
      </div>

      <div class="row mt-0">
        <div class="col">
          <a class="twitter-share-button"
             href="https://twitter.com/intent/tweet?text=<%= tip['title'] %>%20in%20Xcode&via=_xcodetips&url=<%= url_encode("http://xcodetips.com/tips/#{tip['file_name']}.html") %>">
            Tweet</a>
        </div>
      </div>

      <!-- Subscribe -->
      <div class="row mt-5 mb-2">
        <div class="col-12 text-center">
          <h5>Subscribe to receive tips in your inbox.</h5>
          <p class="text-smaller">Ships every Monday, Wednesday, and Friday at 8:45am GMT.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <form action="https://mokacoding.us10.list-manage.com/subscribe/post?u=45a265e2a9d2b9dbec5f98d51&amp;id=ba4040fc69" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="form-inline justify-content-center">
            <div class="form-group mr-sm-2 mb-2">
              <label class="sr-only">Email</label>
              <input type="text" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required />
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_45a265e2a9d2b9dbec5f98d51_ba4040fc69" tabindex="-1" value=""></div>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
          </form>
        </div>
      </div>

      <% if tips.count > 1 %>
        <!-- All Tips -->
        <div class="row mt-5 mb-3">
          <div class="col-12">
            <h3>All Tips</h3>
          </div>
          <div class="col-12">
            <ul class="list-unstyled">
              <% tips.reverse.each do |list_tip| %>
                <li>
                  <a href="http://xcodetips.com/tips/<%= list_tip['file_name'] %>.html">
                    <%= list_tip['title'] %><% if list_tip['shortcut'] %>: <%= list_tip['shortcut'] %><% end %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <!-- Footer -->
      <div class="row mt-3 text-center">
        <div class="col">
          <p>Typed and recorded by <a href="https://twitter.com/mokagio">@mokagio</a> from <a href="http://mokacoding.com">mokacoding.com</a></p>
          <p>Inspired by <a href="https://vimgifs.com/">vimfigs.com</a></p>
          <p>&copy; 2018</p>
        </div>
      </div>
    </div><!-- /container -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43554041-11"></script>
    <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-43554041-11');
    </script>

    <!-- Twitter sharing -->
    <!-- https://dev.twitter.com/web/javascript/loading -->
    <script>window.twttr = (function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0],
  t = window.twttr || {};
if (d.getElementById(id)) return t;
js = d.createElement(s);
js.id = id;
js.src = "https://platform.twitter.com/widgets.js";
fjs.parentNode.insertBefore(js, fjs);

t._e = [];
t.ready = function(f) {
  t._e.push(f);
};

return t;
}(document, "script", "twitter-wjs"));</script>
  </body>
</html>
