<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <style>
body {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

video {
  margin: 0 auto;
  width: 100%;
}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row mb-5 mt-3 text-center">
        <div class="col">
          <h1><a href="http://xcodetips.com">Xcode Tips</a></h1>
        </div>
      </div>

      <div class="row align-items-center mb-2">
        <div class="col col-auto">
          <h3>
              <a href="http://xcodetips.com/tips/<%= tip['file_name'] %>.html">
                <%= tip['title'] %><% if tip['shortcut'] %>: <%= tip['shortcut'] %><% end %>
              </a>
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <video autoplay loop poster="https://s3.amazonaws.com/xcodetips.com/assets/<%= tip['file_name'] %>.jpg">
            <!-- Do I acutally need the .webm? -->
            <!-- <source src="path/to/video.webm" type="video/webm; codecs=vp9,vorbis" /> -->
            <source src="https://s3.amazonaws.com/xcodetips.com/assets/<%= tip['file_name'] %>.mp4" type="video/mp4" />
            <source src="https://s3.amazonaws.com/xcodetips.com/assets/<%= tip['file_name'] %>.gif" type="gif" />
          </video>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <% if tip['description'] %>
            <p><em><%= tip['description'] %></em></p>
          <% end %>
          <% if tip['project']['name'] && tip['project']['url'] %>
            <p>Source code: <a href="<%= tip['project']['url'] %>" target="_blank"><%= tip['project']['name'] %></a></p>
          <% end %>
          <% if tip['publish_date'] %>
            <p>Published date: <%= tip['publish_date'] %></p>
          <% end %>
        </div>
      </div>

      <!-- Subscribe -->
      <div class="row mt-5 mb-2">
        <div class="col-12 text-center">
          <h5>Subscribe to receive tips in your inbox.</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <form action="https://mokacoding.us10.list-manage.com/subscribe/post?u=45a265e2a9d2b9dbec5f98d51&amp;id=ba4040fc69" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="form-inline justify-content-center">
            <div class="form-group mr-sm-2 mb-2">
              <label class="sr-only">Email</label>
              <input type="text" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required />
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_45a265e2a9d2b9dbec5f98d51_ba4040fc69" tabindex="-1" value=""></div>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
          </form>
        </div>
      </div>

      <!-- All Tips -->
      <div class="row mt-5 mb-3">
        <div class="col-12">
          <h3>All Tips</h3>
        </div>
        <div class="col-12">
          <ul class="list-unstyled">
            <% tips.each do |list_tip| %>
              <li>
                <a href="http://xcodetips.com/tips/<%= list_tip['file_name'] %>.html">
                  <%= list_tip['title'] %><% if list_tip['shortcut'] %>: <%= list_tip['shortcut'] %><% end %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <div class="row mt-3 text-center">
        <div class="col">
          <p>Typed and recorded by <a href="https://twitter.com/mokagio">@mokagio</a> from <a href="http://mokacoding.com">mokacoding.com</a></p>
          <p>Inspired by <a href="https://vimgifs.com/">vimfigs.com</a></p>
          <p>&copy; 2018</p>
        </div>
      </div>
    </div><!-- /container -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43554041-11"></script>
    <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-43554041-11');
    </script>
  </body>
</html>
